.main {
  padding: 15px;
}
.btn.MuiButton-root {
  transition: none;
  font-weight: 600;
  margin-top: 10px 0;
  padding: 10px 25px;
  border-radius: 5px;
  min-width: 120px;
}
.orange-btn.MuiButton-root {
  background: linear-gradient(95.06deg, #ff9e43 0%, #f8c63c 107.76%);
  color: white !important;
}
.orange-btn.MuiButton-root:hover {
  background: #ff9e43;
}
.grey-btn.MuiButton-root {
  background: #e7e7e7;
  color: #474747;
}
.grey-btn.MuiButton-root:hover {
  background: #808080;
}
.todo-list li {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}
